[Unit]
Description=This service automatically renews any certbot certificates found

[Service]
EnvironmentFile=/etc/sysconfig/certbot
Type=oneshot
ExecStart=/usr/bin/podman run \
    --name certbot-renew \
    --rm \
    -v "/etc/letsencrypt:/etc/letsencrypt:z" \
    -v "/var/lib/letsencrypt:/var/lib/letsencrypt:z" \
    docker.io/certbot/dns-cloudflare:latest \
    renew \
    --noninteractive \
    --no-random-sleep-on-renew $PRE_HOOK $POST_HOOK $RENEW_HOOK $DEPLOY_HOOK $CERTBOT_ARGS
